.venv
__pycache__
*.pyc
.python-version

# Service account keys
vertex-key.json
poc-script-genai-47e9869b446c.json
poc-vertex-local-key.json
vertex-key.json
.envservice-account.json
service-account.json.env
service-account.json
